<!doctype html>
<html ng-app="WebClubApp">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script type="text/javascript" src="main.js"></script>
</head>
<body ng-controller="MainCtrl">
  
  <!-- search -->
  <form class="form-inline global-search" role="form">
    <div class="form-group">
      <label class="sr-only">Enter search terms</label>
      <input type="search" class="form-control" name="searchquery" placeholder="Search for a user" ng-model="query"/>
    </div>
    <button type="submit" class="btn btn-primary" ng-click="searchOnClick()"><span class="glyphicon glyphicon-search" />Search</button>
    <br/>
    <label>{{name}}</label>
  </form>
  <div class="row text-center">
    <div ng-repeat="result in results" class="col-xs-4">
      <label>{{result}}</label>
    </div>
  </div>

</body>

</html>